# Auto detect text files and perform LF normalization
* text=auto

# Keep TypeScript, JavaScript, CSS, HTML, and JSON files using LF
*.ts text eol=lf
*.tsx text eol=lf
*.js text eol=lf
*.jsx text eol=lf
*.json text eol=lf
*.css text eol=lf
*.html text eol=lf
*.md text eol=lf
